<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />

  <title>Blog - Final Project 3</title>
</head>

<body>
    <div class="navbar"><a href="/">Home</a><a href="/newpost">New Post</a>

    {% if loggedIn %}
        <a href="/logout">Log Out</a></div>
    {% else %}
        <a href="/login">Log In</a></div>
    {% endif %}
    <a href="/" class="main-title">
    Blog - Final Project 3
    </a>

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>