<div class="post">
  <div class="post-heading">
    Key: {{p.key().id()}}
    <div class="post-title">

      <a href=""></a>{{p.subject}}
    </div>
    <div class="post-user">
      Created by: {{p.user}}
    </div>
    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <div class="post-likes">
    Number of likes: {{p.likes}}
  </div>
  <div><a href="/editpost/{{p.key().id()}}">Edit Post</a><a href="/like/{{p.key().id()}}">Like</a><a href="/delete/{{p.key().id()}}">Delete Post</a></div>
</div>