<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/blog/{{p.key.id()}}">{{p.subject}}</a>
    </div>
    <div class="post-user">
      Created by: <b>{{p.user}}</b>
    </div>
    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <div class="post-likes">
    Number of likes: {{p.likes}}
  </div>
  <div class="post-links">
    <a href="/editpost/{{p.key.id()}}">Edit Post</a><a href="/like/{{p.key.id()}}">Like</a><a href="/delete/{{p.key.id()}}">Delete Post</a>
  </div>
</div>